pytest
pytest-cov
pytest-asyncio
httpx
black
flake8
pylint
psycopg2-binary
python-dotenv
sqlalchemy
marshmallow
marshmallow-sqlalchemy
PyLTI
fastapi
FastAPI-SQLAlchemy
pandas
passlib
Levenshtein
autoflake
uvicorn
scipy
np